/* i have no idea whats going on here */

*
{
    font-family: Calibri;
    color: white;
    z-index: 1;
    background-color: transparent;
}
body
{
    background-color: rgb(9, 5, 15);
}

@media screen and not (orientation:landscape)
{
    body
    {
        overflow-x: hidden;
    }
    section
    {
        margin-left: 60px;
    }
    #mensec
    {
        margin-left: 90px;
    }
    #welcsec
    {
        margin-top: 50px;
    }
    #menu nav
    {
        width: 100vw;
        height: 101vh;
        top: -100vh;
        left: 0px;
        transition: top 0.3s;
    }
    #tMENU
    {
        font-size: 65px;
    }
    .menutext, .menutext:visited
    {
        font-size: 50px;
    }
    #hmaside, #menuspan
    {
        height: 70px;
        width: 100vw;
    }
    #hambicon
    {
        float: right;
        margin-right: 25px;
        margin-top: -5px;
    }
    #hambinput:checked + #menu #hambicon
    {
        margin-top: 15px;
    }
    #hambinput:checked + #menu nav
    {
        top: 0;
    }
    #flags
    {  
        position: fixed;
        top: 30px;
        right: -52px;
    }
    #padleft
    {
        margin-top: 50px;
    }
}
@media screen and (orientation:landscape)
{
    @media screen and (min-width: 1066px) and (min-height: 723px)
    {
        body 
        {
            overflow:hidden;
        }
    }
    section
    {
        display: flex;
        margin-left: 125px;
    }
    #mensec
    {
        margin-left: 90px;
    }
    #menu nav
    {
        width: 250px;
        top: 0;
        left: -250px;
        height: 100vw;
        transition: 0.3s;
    }
    #tMENU
    {
        font-size: 33px;
    }
    #hmaside, #menuspan
    {
        height: 150vh;
        width: 70px;
    }
    #hambicon
    {
        margin-top: -5px;
        margin-left: 12px;   
    }
    #hambinput:checked + #menu #hambicon
    {
        margin-top: 15px;
    }

    #welcsec
    {
        margin-top: -50px;
    }
    #hambinput:checked + #menu nav
    {
        left: 0;
    }
    #flags
    {  
        position: fixed;
        right: -50px;
        top: -45px;
    }
    footer
    {
        z-index: 0;
        position: fixed;
        bottom: 10px;
    }
    #padleft
    {
        padding-left: 175px;
    }
}
#mensec
{
    display: flex;
}
#hmaside
{
    z-index: 2;
    position:fixed;
    float: left;
    margin-top: -50px;
    margin-left: -98px;
}
#hambinput:checked ~ #menu
{
    left: 0px;
    top: 0px;
    display: flex;
    position: absolute;
    border: none;
    width: 100vw;
    height: 100vh;
    background: transparent;
}
#menu
{
    display: block;
    border: none;
    background: transparent;
}
nav
{
    position: fixed;
    visibility: hidden;
}
#hambicon
{
    width: 45px;
}
#menu nav
{
    visibility: hidden;
    position: absolute;
}
#hambinput
{
    visibility: hidden;
}
#hambinput:checked + #menu nav
{
    visibility: visible;
}
#hambinput:checked ~ .overlay
{
    visibility: visible;
    opacity: 0.4;
}
.menutext, .menutext:visited
{
    color: white;
    text-decoration: none;
    text-align: center;
    margin-bottom:30px
}
#tMENU
{
    margin-bottom:60px
}
#hmaside, nav
{
    background-color: rgb(185, 174, 209);
}

img
{
    background-color: transparent;
}
#pfp
{
    position: absolute;
    left: 50px;
    width: 150px;
    top: calc(100vh - 200px);
}

/* here start styles outside of the hamburger menu */

section
{
    z-index: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

h2, h3
{
    font-family: Arial;
    margin-left: -10px;
}

a
{
    color: lightskyblue;
}
a:visited
{
    color: rgb(172, 0, 172);   
}

.gr, .linetr, .sg
{
    color: gray;
    font-family: monospace;
}
.linetr
{
    text-decoration: line-through;
}
.sg
{
    font-size: smaller;
}

#flags
{
    position: absolute;
    z-index: 0;
}
#trans, #bi, #PL
{
    z-index: 0;
    background-color: transparent;
    position:absolute;
    display: flex;
    width: 25px;
    transition: transform 0.25s linear;
}
#trans:hover, #bi:hover, #PL:hover
{
    transform: rotate(360deg) scale(2.5);
}
#trans
{
    top: 14px;
    right: 100px;
    rotate: 13deg z;
}
#bi
{
    rotate: 38deg z;
    top: 40px;
    right: 50px;
}
#PL
{
    rotate: 74deg z;
    top: 80px;
    right: 13px;
}
.ziulty
{
    color: rgb(160, 204, 38)
}
.czerwowy
{
    color: rgb(197, 0, 0);
}