/* i have no idea whats going on here */

*
{
    z-index: 1;
}

@media screen and (orientation:landscape)
{
    section
    {
        margin-left: 125px;
    }
    #menu nav
    {
        width: 250px;
        top: 0;
        left: -250px;
        height: 100vw;
        transition: 0.3s;
    }
    #tMENU
    {
        font-size: 33px;
    }
    #hmaside, #menuspan
    {
        height: 150vh;
        width: 70px;
    }
    #hambicon
    {
        margin-top: 15px;
        margin-left: 12px;   
    }
    #hambinput:checked + #menu #hambicon
    {
        margin-top: 15px;
    }
    #hambinput:checked + #menu nav
    {
        left: 0;
    }
    #flags
    {  
        position: fixed;
        right: -50px;
        top: -45px;
    }
}
#mensec
{
    display: flex;
    margin-left: 125px;
}
#hmaside
{
    position:fixed;
    float: left;
    background-color: rgb(196, 196, 196);
    margin-top: -50px;
    margin-left: -133px;
}
#hambinput:checked ~ #menu
{
    left: 0px;
    top: 0px;
    display: flex;
    position: absolute;
    border: none;
    width: 100vw;
    height: 100vh;
    background: transparent;
}
#menu
{
    display: block;
    border: none;
    background: transparent;
}
nav
{
    visibility: hidden;
    background-color: rgb(196, 196, 196);
}
#hambicon
{
    margin-top: -5px;
    background-color: rgb(196, 196, 196);
    width: 45px;
}
#menu nav
{
    visibility: hidden;
    position: absolute;
}
#hambinput
{
    visibility: hidden;
}
#hambinput:checked + #menu nav
{
    visibility: visible;
}
#hambinput:checked ~ .overlay
{
    visibility: visible;
    opacity: 0.4;
}
.menutext, .menutext:visited
{
    color: white;
    text-decoration: none;
    text-align: center;
}
#hmaside, #menuspan, nav, #hambicon, .menutext, .menutext:visited
{
    background-color: rgb(185, 174, 209);
}

img
{
    background-color: transparent;
}

/* here start styles outside of the hamburger menu */

#flags
{  
    position: absolute;
    right: 0px;
    z-index: 0;
    right: -50px;
}
#trans:hover, #sapphic:hover, #PL:hover
{
    transform: rotate(360deg) scale(2.5);
}
#trans
{
    top: 14px;
    right: 100px;
    rotate: 13deg z;
}
#sapphic
{
    rotate: 38deg z;
    top: 40px;
    right: 50px;
}
#PL
{
    rotate: 74deg z;
    top: 80px;
    right: 13px;
}

section
{
    z-index: 0;
}