*
{
    color: white;
    background-color: black;
    font-family: Calibri;
}


section
{
    margin: 50px;
}

h2, h3
{
    font-family: Arial;
}

#trans, #bi, #PL
{
    float:right;
    width: 25px;
    transition: transform 0.25s linear;
}
#trans:hover, #bi:hover, #PL:hover
{
    transform: rotate(360deg) scale(2.5);
}
#trans
{
    margin-top: -34px;
    margin-right: 25px;
    rotate: 10deg z;
}
#bi
{
    rotate: 45deg z;
    margin-top: -16px;
    margin-right: -18px;
}
#PL
{
    rotate: 80deg z;
    margin-top: 19px;
    margin-right: -56px;
}


#hii
{
    width: 25px;
}

#cupcake1, #cupcake2
{
    height: 360px;
}
#cupcake1
{
    margin-left: 16%;
    margin-right: 2%;
}
#cupcake2
{
    margin-right: 16%;
    margin-left: 2%;
}

a
{
    color: lightskyblue;
    font-family: monospace;
    font-size: 15px;
}
a:visited
{
    color: rgb(172, 0, 172);   
}

.gr, .linetr, .sg, #gi
{
    color: gray;
    font-family: monospace;
}
.linetr
{
    text-decoration: line-through;
}
.sg
{
    font-size: smaller;
}