*
{
    font-family: Calibri;
    background-color: black;
    color: white;
}

h2, h3
{
    font-family: Arial;
}

a
{
    color: lightskyblue;
}
a:visited
{
    color: rgb(172, 0, 172);   
}

.gr, .linetr, .sg
{
    color: gray;
    font-family: monospace;
}
.linetr
{
    text-decoration: line-through;
}
.sg
{
    font-size: smaller;
}

nav
{
    margin: 0px;
    background-color: rgb(66, 66, 66);
}

#trans, #bi, #PL
{
    float:right;
    width: 25px;
    transition: transform 0.25s linear;
}
#trans:hover, #bi:hover, #PL:hover
{
    transform: rotate(360deg) scale(2.5);
}
#trans
{
    margin-top: -34px;
    margin-right: 25px;
    rotate: 10deg z;
}
#bi
{
    rotate: 45deg z;
    margin-top: -16px;
    margin-right: -18px;
}
#PL
{
    rotate: 80deg z;
    margin-top: 19px;
    margin-right: -56px;
}

section
{
    margin: 50px
}