/* i have no idea whats going on here */

*
{
    font-family: Calibri;
    color: white;
    background-color: rgb(9, 5, 15);
}

@media screen and not (orientation:landscape)
{
    #menu nav
    {
        width: 100vw;
        height: 100vh;
        top: -100vh;
        left: 0px;
        transition: top 0.3s;
    }
    #tMENU
    {
        font-size: 65px;
    }
    .menutext, .menutext:visited
    {
        font-size: 50px;
    }
    #hmaside
    {
        height: 70px;
        width: 100%;
    }
    #hambicon
    {
        float: right;
        margin-right: 16px;
        margin-top: -8px;
    }
    #hambinput:checked + #menu nav
    {
        top: 0;
    }
    #flags
    {  
        position: fixed;
        top: 30px;
        right: -52px;
    }
    #welcsec
    {
        margin-top: 100px;
    }
}
@media screen and (orientation:landscape)
{
    section
    {
        display: flex;
    }
    #menu nav
    {
        width: 250px;
        top: 0;
        left: -250px;
        height: 100vw;
        transition: 0.3s;
    }
    #tMENU
    {
        font-size: 33px;
    }
    #hmaside
    {
        height: 150vh;
        width: 70px;
    }
    #hambicon
    {
        margin-top: -3px;
        margin-left: 12px;   
    }
    #welcsec
    {
        margin-top: -50px;
    }
    #hambinput:checked + #menu nav
    {
        left: 0;
    }
    #flags
    {  
        position: fixed;
        right: -50px;
        top: -45px;
    }
}

#mensec
{
    display: flex;
}

#hmaside
{
    position:fixed;
    float: left;
    margin-top: -50px;
    margin-left: -98px;
}
#menu
{
    display: block;
    border: none;
}
nav
{
    position: fixed;
    z-index: 1;
    visibility: hidden;
}
#hambicon
{
    width: 45px;
}
#menu nav
{
    visibility: hidden;
    position: absolute;
}
#hambinput
{
    visibility: hidden;
}
#hambinput:checked + #menu nav
{
    visibility: visible;
}
#hambinput:checked ~ .overlay
{
    visibility: visible;
    opacity: 0.4;
}
.menutext, .menutext:visited
{
    color: white;
    text-decoration: none;
    text-align: center;
    margin-bottom:30px
}
#tMENU
{
    margin-bottom:60px
}
#hmaside, #menu, nav, #hambicon, .menutext, .menutext:visited
{
    background-color: rgb(185, 174, 209);
}

img
{
    background-color: transparent;
}
#pfp
{
    position: absolute;
    top: calc(100vh - 200px);
    left: 50px;
    width: 150px;
}

/* here start styles outside of the hamburger menu */

section
{
    margin-top: 25px;
    margin: 50px;
    margin-left: 90px;
    z-index: 1;
}

h2, h3
{
    font-family: Arial;
}

a
{
    color: lightskyblue;
}
a:visited
{
    color: rgb(172, 0, 172);   
}

.gr, .linetr, .sg
{
    color: gray;
    font-family: monospace;
}
.linetr
{
    text-decoration: line-through;
}
.sg
{
    font-size: smaller;
}


#flags
{
    display: flex;
    position: absolute;
    z-index: 0;
}
#trans, #bi, #PL
{
    background-color: transparent;
    position:absolute;
    display: flex;
    width: 25px;
    transition: transform 0.25s linear;
}
#trans:hover, #bi:hover, #PL:hover
{
    transform: rotate(360deg) scale(2.5);
}
#trans
{
    top: 14px;
    right: 100px;
    rotate: 13deg z;
}
#bi
{
    rotate: 38deg z;
    top: 40px;
    right: 50px;
}
#PL
{
    rotate: 74deg z;
    top: 80px;
    right: 13px;
}

table
{
    border-collapse: collapse;
    border: 3px solid rgb(82, 35, 92);
    margin-left: 15px;
}
td
{
    border: 1px dotted rgba(96, 42, 107, 0.75);
}
#thdesc
{
    width: 250px;
}
.padd
{
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}