/* i have no idea whats going on here */

*
{
    font-family: Calibri;
    color: white;
    background-color: black;
}

section
{
    display: flex;
    margin: 50px;
    margin-left: 80px;
}
#padleft
{
    padding-left: 25px;
}

h2, h3
{
    font-family: Arial;
}

a
{
    color: lightskyblue;
}
a:visited
{
    color: rgb(172, 0, 172);   
}

.gr, .linetr, .sg
{
    color: gray;
    font-family: monospace;
}
.linetr
{
    text-decoration: line-through;
}
.sg
{
    font-size: smaller;
}

#hmaside
{
    position:fixed;
    float: left;
    background-color: rgb(196, 196, 196);
    width: 70px;
    height: 100%;
    margin-top: -50px;
    margin-left: -88px;
}
#menu
{
    background-color: rgb(196, 196, 196);
    display: block;
    border: none;
}
nav
{
    visibility: hidden;
    background-color: rgb(196, 196, 196);
}
#hambicon
{
    background-color: rgb(196, 196, 196);
    width: 45px;
    margin-top: -3px;
    margin-left: 12px;   
}
#menu nav
{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    transition: 0.3s;
}
#hambinput
{
    visibility: hidden;
}
#hambinput:checked + #menu nav
{
    visibility: visible;
    left: 0;
}
#hambinput:checked ~ .overlay
{
    visibility: visible;
    opacity: 0.4;
}

#trans, #bi, #PL
{
    position: fixed;
    display: flex;
    width: 25px;
    transition: transform 0.25s linear;
}
#trans:hover, #bi:hover, #PL:hover
{
    transform: rotate(360deg) scale(2.5);
}
#trans
{
    top: 54px;
    right: 50px;
    rotate: 13deg z;
}
#bi
{
    rotate: 38deg z;
    top: 50px;
    right: 47px;
}
#PL
{
    rotate: 74deg z;
    top: 50px;
    right: 53px;
}