*
{
    color: white;
    background-color: black;
    font-family: Calibri;
}


section
{
    margin: 50px;
}

h2, h3
{
    font-family: Arial;
}

#hii
{
    width: 25px;
}

#cupcake1, #cupcake2
{
    height: 360px;
}
#cupcake1
{
    margin-left: 16%;
    margin-right: 2%;
}
#cupcake2
{
    margin-right: 16%;
    margin-left: 2%;
}

a
{
    color: lightskyblue;
    font-family: monospace;
    font-size: 15px;
}
a:visited
{
    color: rgb(172, 0, 172);   
}

.gr, .linetr, .sg, #gi
{
    color: gray;
    font-family: monospace;
}
.linetr
{
    text-decoration: line-through;
}
.sg
{
    font-size: smaller;
}